/* Colors */
:root {
  --primary-color: #1e90ff;
  --secondary-color: #ff6347;
  --background-color: #f5f5f5;
}

/* Container */
.todo-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

/* Heading */
.todo-heading {
  text-align: center;
  color: var(--primary-color);
  font-size: 24;
  margin-bottom: 20px;
}

/* Input Section */
.todo-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input input {
  flex-grow: 1;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
}

.todo-input button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-input button:hover {
  background-color: #1873cc;
}

/* Todo List */
.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.todo-list li:hover {
  transform: scale(1.02);
}

.todo-list p {
  margin: 0;
  flex-grow: 1;
  color: var(--primary-color);
  font-size: 16px;
}

.todo-list button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-list button:hover {
  background-color: #cc4a38;
}
